
<!--display:grid,flexbox, grid-templated-column: 50px, 1fr, 1fr, 1,fr. margin:auto, justify:center,-->
<body>
    <table>
        <thead>
        <tr>
            <td>{{ headertable.t1 }}</td>
            <td>{{ headertable.t2 }}</td>
            <td>{{ headertable.t3 }}</td>
            <td>{{ headertable.t4 }}</td>
        </tr>
        </thead>
        <tbody>
            <!-- No se debe usar <tr> aquí; las filas se generan dentro del bucle -->
            @for (cochera of cocheras; track $index) {
                <tr>
                    <td>{{ cochera.nro }}</td>
                    @if(cochera.dispo==="Disponible"){
                        <td id="dispo">{{ cochera.dispo }}</td>
                    } @else {
                        <td id="nodispo">{{ cochera.nodispo }}</td>
                    }
                    <td>{{ cochera.ingreso }}</td>
                    <td id="accion">
                        @if(cochera.dispo === "Disponible"){
                            <button class="deshabilitado" (click)="toggleCochera($index)">Deshabilitar</button>
                        } @else {
                            <button class="habilitado" (click)="toggleCochera($index)">Habilitar</button>
    
                        }
                        @if ((isAdmin)){
                        <button class="botonelim" (click)="alert($index)">✖</button>
                        }
                    </td>
                </tr>
            }
            @empty {
                <tr>
                    <td class="vacio">
                        No hay cocheras disponibles.
                        <button class="mas1" (click)="Funcionsuma()">+</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="buttons-container">
        <button class="botonaccmas" (click)="Funcionsuma()">Agregar Cochera</button>
        <button class="botonborrartodo" (click)="Funcionborrar()">Borrar todo</button>
        <button class="bye"[routerLink]="['/login']">Cerrar sesión</button>
    </div>
</body>