
<!--display:grid,flexbox, grid-templated-column: 50px, 1fr, 1fr, 1,fr. margin:auto, justify:center,-->
<body>
    <table>
        <thead>
        <tr>
            <td>Nro</td>
            <td>Disponibilidad</td>
            <td>Ingreso</td>
            <td>Acciones</td>
        </tr>
        </thead>
        <tbody>
            <!-- No se debe usar <tr> aquí; las filas se generan dentro del bucle -->
            @for (cochera of dataCocherasService.cocheras; track $index) {
                <tr>
                    <td>{{ cochera.id }}</td>
                    <td>
                        @if (cochera.deshabilitada) {
                            <button class="deshabilitada">
                                Deshabilitada
                            </button>
                        } @else if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento?.horaIngreso) {
                            <button (click)="cerrarEstacionamiento(cochera)">
                                {{ cochera.estacionamiento?.patente }}
                            </button>
                        } @else {
                            <button class="disponible" (click)="abrirEstacionamiento(cochera.id)">
                                Disponible
                            </button>
                        }
                    </td>
                    <td>{{ cochera.descripcion }}</td>
                    <td class="acciones">
                        @if(!cochera.estacionamiento?.patente){
                            @if(!cochera.deshabilitada){
                                <button (click)="preguntarDeshabilitarCochera(cochera.id)">Deshabilitar</button>
                            } @else {
                                <button (click)="preguntarHabilitarCochera(cochera.id)">Habilitar</button>

                            }
                            @if (isAdmin){
                            <button class="botonelim" (click)="preguntarBorrarCochera(cochera.id)">✖</button>
                            }
                        }
                    </td>
                </tr>
            }
            @empty {
                <tr>
                    <td class="vacio">
                        No hay cocheras disponibles.
                        <button class="mas1" (click)="preguntarAgregarCochera()">+</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="buttons-container">
        <button class="botonaccmas" (click)="preguntarAgregarCochera()">Agregar Cochera</button>
        <button class="botonborrartodo" (click)="preguntarBorrarTodo()">Borrar todo</button>
    </div>
    <button class="bye"[routerLink]="['/login']">Cerrar sesión</button>
</body>