
<!--display:grid,flexbox, grid-templated-column: 50px, 1fr, 1fr, 1,fr. margin:auto, justify:center,-->
<body>
    <main>
    <table>
        <thead>
            <td>Nro</td>
            <td>Disponibilidad</td>
            <td>Ingreso</td>
            <td>Acciones</td>
        </thead>
        <tbody>
            <!-- No se debe usar <tr> aquí; las filas se generan dentro del bucle -->
            @for (cochera of dataCocherasService.cocheras; track $index) {
                <tr>
                    <td>
                        @if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento?.horaIngreso) {
                            <div class="disponibilidad1">
                                {{ cochera.id }}
                            </div>
                        }
                        @else if (cochera.deshabilitada) {
                            <div class="disponibilidad0">
                                {{ cochera.id }}
                            </div>
                        }
                        @else {
                            <div class="disponibilidad">
                                {{ cochera.id }}
                            </div>
                        }
                    </td>
                    <td>
                        @if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento?.horaIngreso) {
                            <div class="disponibilidad1">
                                {{ cochera.estacionamiento?.patente }}
                            </div>
                        } 
                        <!-- Si hay hora de egreso, mostrar como deshabilitada -->
                        @else if (cochera.deshabilitada) {
                            <div class="disponibilidad0">
                                Deshabilitada
                            </div>
                        } 
                        <!-- Si está disponible, permite abrir el estacionamiento ingresando patente -->
                        @else {
                            <div class="disponibilidad">
                                Habilitada
                            </div>
                        }
                    </td>
                    <td class="ingreso">
                        @if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento?.horaIngreso) {
                            <div class="disponibilidad1">
                                {{ cochera.descripcion }}
                            </div>
                        }
                        @else if (cochera.deshabilitada) {
                            <div class="disponibilidad0">
                                {{ cochera.descripcion }}
                            </div>
                        }
                        @else if(!cochera.deshabilitada){
                            <div class="disponibilidad">
                                {{ cochera.descripcion }}
                            </div>
                        }
                    </td>
                    <td class="acciones">
                        @if(!cochera.estacionamiento?.patente){
                            @if(!cochera.deshabilitada){
                                <button class="modif" (click) ="abrirEstacionamiento(cochera.id)">Agregar Patente</button>
                                <button class="nodispo" (click)="preguntarDeshabilitarCochera(cochera.id)">⛔</button>
                            } @else {
                                <button class="dispo" (click)="preguntarHabilitarCochera(cochera.id)">Habilitar cochera</button>
                                <button class="botonelim" (click)="preguntarBorrarCochera(cochera.id)">✖</button>

                            }
                        }
                        @if (!cochera.estacionamiento?.horaEgreso && cochera.estacionamiento?.horaIngreso) {
                            <button class="cobrar" (click)="cerrarEstacionamiento(cochera)">
                                Cobrar
                            </button>
                        }
                    </td>
                </tr>
            }
            @empty {
                <tr>
                    <td class="vacio">
                        No hay cocheras disponibles.
                        <button class="mas1" (click)="preguntarAgregarCochera()">+</button>
                    </td>
                </tr>
            }
        </tbody>
        <button class="botonaccmas" (click)="preguntarAgregarCochera()">Agregar Cochera</button>
    </table>
</main>
</body>