
body {
    display: flex;
    flex-direction: column;
    align-items: center;/*va horizontal por el column*/
    min-height: 100vh;
    background-color: rgb(11, 11, 11);
    background-size: cover;
    overflow-y: hidden;/*elimina el scroll vertical*/
}

table {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-top: 4rem;
}

thead {
    background-color: #053f4e;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

thead tr {
    color: white;
    display: flex;
    flex-direction: row;
    width: 100%;
    font-family:'Arial';
    font-weight: bold;
}

tbody {
    background-color: rgba(0, 0, 0, 0.774);
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
    height: 26rem;
    overflow: auto;
    color: white;
    font-family:'Arial';
    margin-bottom: 2rem;
    padding-top: 10px;
}

tbody tr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

td {
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex: 1;/**/
}
td.disponible {
    background-color: #036d2c;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 26px;
    font-family:'Arial';
}

td.ocupado {
    background-color: #500000;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 26px;
    font-family:'Arial';
}
button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 25px;
    border-radius: 12px;
    border-width: 1px;
    margin: 5px;
    cursor: pointer;
    font-family:'Arial';
}
#accion {
    display: flex;
    gap: 15px
}
.habilitado {
    margin: 0;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 10px 20px;
    margin-right: 3px;
    font-family:'Arial';
}
.habilitado:hover {
    background-color: #c4c4c4;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
.deshabilitado {
    margin: 0;
    background-color: white;
    font-size: 20px;
    font-weight: bold;
    color: black;
    padding: 13px 20px;
}
.deshabilitado:hover {
    background-color: #c4c4c4;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}
.botonelim {
    margin-left: 5px;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 25px;
    font-size: 20px;
    background-color: white;
    border: none;
    color: #ff0000;
}
.botonelim:hover {
    background-color: #c4c4c4;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

.botonaccmas {
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 20px;
    background-color: #030303ec;
    color: white;
}

.buttons-container {
    display: flex;
    justify-content:center;
    flex-direction: row;
    width: 50%;
    gap: 20px;
}

.botonborrartodo {
    padding: 20px 30px;
    border-radius: 12px;
    font-size: 20px;
    background-color: #030303ec;
    color: white;
}
.bye {
    padding: 20px 30px;
    text-decoration: none;
    margin: 5px;
    background-color: #030303ec;
    color: white;
    border-radius: 12px;
    font-size: 20px;
    font-family:'Arial';
}
/*desmotivo*/
.vacio {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-top: 7rem;
}
.mas1 {
        font-size: 40px;
        padding-inline: 25px;
        border-width: 2px;
        margin-top: 2rem;
        margin-bottom: 2rem;
}
.mas1:hover {
    background-color: #c4c4c4;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}

