<body>
    <main>
        <h1>PARKING APP</h1>
        <h2>Gestioná tu estacionamiento de manera sencilla</h2>
        <div class="formulario">
            <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                <h3>¡Bienvenido!</h3>
                <input type="text" id="usuario" placeholder="Usuario" name="username" ngModel required>
                <input type="password" id="contraseña" placeholder="Contraseña" name="password" ngModel required>
                <div class="buttonContainer">
                    <button [disabled]="loginForm.invalid" class="boton1" type="submit">
                        Iniciar sesión
                    </button><!--linkeado con logincomponent.ts-->
                    <button [routerLink]="['/register']">Registrarse</button>
                </div>
                @if(errorLogin){
                    <p>Error en login</p>
                }
            </form>
            
        </div>
    </main>
</body>