body {
    display: flex;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background-image: url(../../../../public/imagenes/Underground_parking_lot_20210223_BW.jpg);
    background-size: cover;
}
main {
    padding: 0;
    margin: 0;
    margin-top: 3rem;
    width: 100%;
}
h1 {
    display:flex;
    justify-content: center;
    font-size: 85px;
    margin-top: 0.5rem;
    margin-bottom: 1.3rem;
    color: #006781;
    text-shadow: 1px 1px 0px white, /* Sombras alrededor del texto para simular un borde */
    -1px 1px 0px white,
    1px -1px 0px white,
    -1px -1px 0px white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900;
}

h2 {
    color:rgb(255, 255, 255);
    font-size: 23px;
    display:flex;
    justify-content: center;
    margin-bottom: 5rem;
    font-family:'Arial';
    font-weight: 500;
    text-shadow: 20px 20px 10px black;
}

form {
    background-color: rgba(0, 0, 0, 0.918);
    padding-top: 25px;
    padding-bottom: 30px;
    border-radius: 20px;
    max-width: 600px;
    font-family: monospace;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin:auto;
}

h3 {
    display: flex;
    justify-content: center;
    color:#edf6ee;
    font-size: 35px;
    margin-bottom: 2rem;
    font-family:'Arial';
    font-weight: bold;
    text-shadow: 3px 3px 20px black;
}

input {
    margin-left: 3rem;
    background-color: rgba(31, 31, 31, 0.801);
    color: #FFFFFF;
    border: 2px solid #004F54;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    font-size: 16px;
    margin-bottom: 2rem;
    outline: none;
    
}

input:focus {
    transition: border-color 0.3s;
    border-color: #007d88;
    box-shadow: 0 0 8px rgba(0, 109, 119, 0.5);
}
.buttonContainer {
    display: flex;
    justify-content:center;
    gap: 20px
}
button {
    width: 245px;
    margin-top: 0.5rem;
    padding: 1rem;
    background-color: #006D77;
    border: 2px solid #004F54;
    color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    border-radius: 15px;
    font-size: 20px;
    font-family:'Arial';
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: #004F54;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4);
}


