<body>
    <main>
        <h1>PARKING APP</h1>
        <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
            <h2>Regístrate :)</h2>
            <input type="text" id="username" placeholder="Usuario" name="username" ngModel required>
            <input type="text" id="name" placeholder="Nombre" name="nombre" ngModel required>
            <input type="text" id="lastname" placeholder="Apellido" name="apellido" ngModel required>
            <input type="password" id="password" placeholder="Contraseña" name="password" ngModel required>
            <div class="buttonContainer">
                <button [disabled]="registerForm.invalid" class="boton-resaltado" type="submit">Registrarse</button>
            </div>
            @if(errorRegister) {
                <p>Error de register</p>
            }
        </form>
    </main>
</body>