header {
    display: flex;
    justify-content: space-around;
    background-color: #032831;
    gap: 10rem;
    height: 80px;
}
h1 {
    font-size: 45px;
    white-space: nowrap;
    color: #006781;
    text-shadow: 1px 1px 0px white, /* Sombras alrededor del texto para simular un borde */
    -1px 1px 0px white,
    1px -1px 0px white,
    -1px -1px 0px white;
    font-family:Arial, Helvetica, sans-serif;
    font-weight:900;
    margin-left: 10rem;
    padding-top: 1rem;
    padding-bottom: 1.3rem;
    cursor: pointer;
}
nav {
    display: flex;
    white-space: nowrap;
    font-family:Arial;
    font-size: 23px;
    font-weight: bold;
    gap: 20px;
    padding-top: 1.8rem;
    padding-bottom: 1.3rem;
    margin-right: 10rem;
}
a {
    color:white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #00b1a8;
}
.boton {
    cursor: pointer;
}