<body>
    <main>
        <form>
            <h1>Registrate :)</h1>
            <div class="form">
                <input type="text" id="Nombre Completo" placeholder="Nombre" required>
            </div>
            <div class="form">
                <input type="text" id="usuario" placeholder="Usuario" required>
            </div>
            <div class="form">
                <input type="text" id="email" placeholder="Email" required>
            </div>
            <div class="form">
                <input type="text" id="contraseña" placeholder="Contraseña" required>
            </div>
            <button [routerLink]="['/dashboard']" id="boton2">Registrarse</button>
        </form>
    </main>
</body>
